<%- include('partials/head.ejs'); %>

<h1>Homepage</h1>

<% if (locals.user) { %>
    <h1>Hi <%= locals.user.name %>!</h1>
<% } else { %>
    <a href="/auth">Login with GitHub</a>
<% } %>

<% locals.requests.forEach(request => { %>
<li><%= request.title %></li>
<% }); %>
